{% load static %}

<ul>
    {% if request.user.is_authenticated %}
        <li>
            Hi, {{request.user.username}}
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Sign Up</a>
        </li>     
    {% endif %}
    
</ul>
<div>
    <a href="{% url 'post_create' %}">Make Post</a>
</div>

<div>
    {% for post in object_list %}
    <a href="{% url 'post_detail' post.id %}">
        <img src="/{{post.image}}">     <!--   加/表示接在最开始的路径后面，否则是接在当前路径后面    -->
    </a>
    {% endfor %}

</div>



